<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a class="btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

          <a class="btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <carousel>
        <slide>
          <img
            src="assets/img/background/11.jpg"
            alt="first slide"
            style="
              display: block;
              width: 100%;
              height: 400px;
              object-fit: cover;
            "
          />
        </slide>
        <slide>
          <img
            src="assets/img/background/12.jpg"
            alt="second slide"
            style="
              display: block;
              width: 100%;
              height: 400px;
              object-fit: cover;
            "
          />
        </slide>
        <slide>
          <img
            src="assets/img/background/13.jpg"
            alt="third slide"
            style="
              display: block;
              width: 100%;
              height: 400px;
              object-fit: cover;
            "
          />
        </slide>
      </carousel>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <div class="h5 text-muted mb-1 widget-calendar-year"></div>

          <div class="h3 mb-0 widget-calendar-day"></div>
        </div>

        <div class="card-body">
          <div data-toggle="widget-calendar" id="widget-calendar"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 align-items-stretch">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Peta</h6>
          <h5 class="h3 mb-0">Lokasi kami</h5>
        </div>
        <div class="card-body">
          <div id="container">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Carta bar</h6>
              <h5 class="h3 mb-0">Jumlah kemasukan warga emas</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="udash1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Carta pai</h6>
              <h5 class="h3 mb-0">
                Jumlah lokasi jagaan orang tua ikut negeri
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="udash2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">info</h6>
          <h5 class="h3 mb-0">Mengenai kami</h5>
        </div>
      </div>
    </div>
  </div>
</div>


