<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Pemohonan Melalui Aduan</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Carta bar</h6>
              <h5 class="h3 mb-0">Jumlah permohonan melalui aduan ikut negeri.</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="uadu1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="h3 mb-0">Maklumat Pemohon</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Nama</label
              >
              <input
                class="form-control"
                type="text"
                placeholder=""
                id="example-text-input"
              />
            </div>
            <div class="form-group">
              <label for="example-tel-input" class="form-control-label"
                >Nombor Telefon</label
              >
              <input
                class="form-control"
                type="tel"
                placeholder="0123456789 tanpa '-'"
                id="example-tel-input"
              />
            </div>
            <div class="form-group">
              <label for="example-number-input" class="form-control-label"
                >Nombor Kad Pengenalan</label
              >
              <input
                class="form-control"
                type="text"
                placeholder="xxxxxxxxxxxxxx - tanpa '-'"
                id="example-number-input"
              />
            </div>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Jantina</label
              >
              <input
                class="form-control"
                type="text"
                placeholder=""
                id="example-text-input"
              />
            </div>
            <div class="form-group">
              <label for="example-number-input" class="form-control-label"
                >Umur</label
              >
              <input
                class="form-control"
                type="number"
                value="23"
                id="example-number-input"
              />
            </div>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Alamat</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Pekerjaan</label
              >
              <input
                class="form-control"
                type="text"
                value=""
                id="example-text-input"
              />
            </div>
            <div class="form-group">
              <label for="example-number-input" class="form-control-label"
                >Pendapatan</label
              >
              <input
                class="form-control"
                type="number"
                placeholder="RM"
                id="example-number-input"
              />
            </div>
          </form>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="confirm()">
            Hantar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="navigatePage('back')"
          >
            Batal
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
