<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Penubuhan PAWE Baharu
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-tasks text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4">
      <img alt="Image placeholder" src="../../assets/img/background/123.png" />
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5 class="h3 mb-0">Kriteria dan syarat penubuhan</h5>
        </div>
        <div class="card-body">
          <p>
            1. Bilangan warga emas yang ramai dan berminat untuk menjalankan
            aktiviti di dalam sesebuah komuniti; <br />2. Lokasi premis yang
            strategik dan mudah diakses oleh warga emas dan orang awam. Ianya
            juga biasanya berhampiran dengan kemudahan awam; <br />3. Premis
            yang dipilih hendaklah mesra warga emas dan sesuai dengan program
            dan aktiviti yang hendak dijalankan seperti bangunan kerajaan,
            premis swasta, kuarters, balairaya dan sebagainya; <br />4. Komuniti
            penggerak yang mempunyai minat dan komitmen dalam mengendalikan
            warga emas seperti Pertubuhan Bukan Kerajaan, persatuan, komuniti
            setempat atau agensi swasta yang akan menjadi tulang belakang
            terhadap pelaksanaan PAWE; dan <br />5. Mendapat sokongan terlebih
            dahulu daripada Pegawai Kebajikan Masyarakat/ Pengarah Kebajikan
            Masyarakat Negeri bagi membolehkan proses permohonan dibuat.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <h5 class="h3">Pemohonan Penubuhan PAWE Baharu</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Nama Agensi</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Lokasi Premis</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Daerah</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Pengalaman</label
                  >
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="example-number-input" class="form-control-label"
                    >Bilangan warga emas yang berminat</label
                  >
                  <input
                    class="form-control"
                    type="number"
                    value="20"
                    id="example-number-input"
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button type="button" class="btn btn-primary">Hantar</button>
              <button type="button" class="btn btn-secondary">Semula</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
