<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Penubuhan PAWE Baharu
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-tasks text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Carta bar</h6>
              <h5 class="h3 mb-0">Jumlah pendaftaran mengikut negeri</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="udaf1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-muted text-uppercase ls-1 mb-1">Carta pai</h6>
              <h5 class="h3 mb-0">Jumlah jatina warga emas yang berdaftar</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="udaf2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <h5 class="h3">Pendaftaran Ahli PAWE</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <form>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Nama</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Nombor kad pengenalan</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Jantina</label
                  >
                  <select class="form-control">
                    <option></option>
                    <option>Lelaki</option>
                    <option>Wanita</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Status pekerjaan</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="example-number-input" class="form-control-label"
                    >Pendapatan</label
                  >
                  <input
                    class="form-control"
                    placeholder="RM"
                    type="text"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <div>
                    <label for="example-text-input" class="form-control-label"
                      >Bantuan</label
                    >
                  </div>

                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline1"
                      name="customRadioInline1"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline1"
                      >YA</label
                    >
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline2"
                      name="customRadioInline1"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline2"
                      >TIDAK</label
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button type="button" class="btn btn-primary">Hantar</button>
              <button type="button" class="btn btn-secondary">Semula</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
