<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Aduan dan Maklumat</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-hand-holding-heart text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <div
                class="icon icon-shape bg-red text-white rounded-circle shadow"
              >
                <i class="fas fa-heart"></i>
              </div>
            </div>
            <div class="col">
              <span class="h2 font-weight-bold mb-0">Program</span>
              <h5 class="card-title text-muted mb-0">
                Unit Penyayang Warga Emas (UPWE)
              </h5>
            </div>
          </div>
          <div class="row d-flex justify-content-end mt-4">
            <div class="col-auto">
              <button
                class="btn bg-primary text-white"
                (click)="openModal(program)"
                type="button"
              >
                Lihat selanjutnya
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <div
                class="
                  icon icon-shape
                  bg-primary
                  text-white
                  rounded-circle
                  shadow
                "
              >
                <i class="fas fa-bullseye"></i>
              </div>
            </div>
            <div class="col">
              <span class="h2 font-weight-bold mb-0">Objektif</span>
              <h5 class="card-title text-muted mb-0">
                Unit Penyayang Warga Emas (UPWE)
              </h5>
            </div>
          </div>
          <div class="row d-flex justify-content-end mt-4">
            <div class="col-auto">
              <button
                class="btn bg-primary text-white"
                (click)="openModal(objektif)"
                type="button"
              >
                Lihat selanjutnya
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <div
                class="
                  icon icon-shape
                  bg-yellow
                  text-white
                  rounded-circle
                  shadow
                "
              >
                <i class="fas fa-images"></i>
              </div>
            </div>
            <div class="col">
              <span class="h2 font-weight-bold mb-0">Gambar</span>
              <h5 class="card-title text-muted mb-0">
                Unit Penyayang Warga Emas (UPWE)
              </h5>
            </div>
          </div>
          <div class="row d-flex justify-content-end mt-4">
            <div class="col-auto">
              <button class="btn bg-primary text-white" type="button">
                Lihat selanjutnya
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5">
      <div class="card">
        <div class="row d-flex align-items-center">
          <div class="col-lg-3 bg-yellow d-flex justify-content-center">
            <i class="far fa-file-alt fa-10x text-default my-3"></i>
          </div>
          <div class="col">
            <h5 class="h3 text-muted text-uppercase mb-0 ml-2">Parameter:</h5>
            <h5 class="h1 ml-2">
              Membuat Aduan
              <span><i class="fas fa-exclamation-triangle"></i></span>
            </h5>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <button
              class="btn btn-icon btn-lg btn-2 btn-secondary"
              type="button"
              (click)="openModal2(borang)"
            >
              <span class="btn-inner--icon"
                ><i class="ni ni-bold-right"></i
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #program let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">Program UPWE</h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Program Unit Penyayang Warga Emas (UPWE) menyediakan perkhidmatan dan
      kemudahan pengangkutan kepada warga emas yang tinggal berseorangan atau
      dengan keluarga yang kurang berkemampuan untuk mendapatkan pemeriksaan dan
      rawatan kesihatan di Hospital / Klinik Kesihatan sama ada yang disediakan
      oleh pihak kerajaan atau pihak swasta.
    </div>
  </div>
</ng-template>

<ng-template #objektif let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">Objektif UPWE</h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      1. Memberi kemudahan pengangkutan kepada warga emas untuk mendapatkan
      pemeriksaan dan rawatan kesihatan di Hospital / Klinik Kesihatan serta
      keperluan sosial warga emas yang difikirkan perlu / rasional.<br /><br />

      2. Meringankan beban tanggungan kos pengangkutan bagi warga emas yang
      memerlukan perkhidmatan tersebut. Menggerakkan kerjasama Pertubuhan
      Sukarela Kebajikan (PSK) dalam usaha membantu golongan warga emas yang
      tidak berkemampuan dan tidak mampu menguruskan kehidupan tua mereka.<br /><br />

      3. Meningkatkan aksesibiliti warga emas terhadap kemudahan-kemudahan awam
      yang disediakan khususnya kemudahan perubatan seperti klinik atau hospital
      kerajaan / swasta. <br /><br />

      4. Memberi kemudahan kepada warga emas yang mempunyai masalah kurang upaya
      fizikal dan mental yang menghadkan pergerakan mereka untuk mendapatkan
      rawatan dan perkhidmatan lain yang diperlukan demi kesejahteraan
      mereka.<br />
    </div>
  </div>
</ng-template>

<ng-template #borang let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">Borang Aduan</h6>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Nama</label
              >
              <input class="form-control" type="text" id="example-text-input" />
            </div>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Jenis Aduan</label
              >
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Jenis 1</option>
                <option>Jenis 2</option>
                <option>Jenis 3</option>
                <option>Jenis 4</option>
                <option>Jenis 5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Aduan</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <div class="form-group">
                <label for="example-text-input" class="form-control-label"
                >Rating</label
              >
              
            <div class="col-lg-12 mb-3">
                <rating
                  class="ml-2"
                  [max]="5"
                  [(ngModel)]="y"
                  [customTemplate]="tt"
                ></rating>
  
                <ng-template #tt let-i="index" let-v="value">
                  <button
                    class="btn btn-{{ i < v ? 'success' : 'secondary' }} ml-3"
                  >
                    {{ i < v ? " &#9733; " : " &#9734; " }}
                  </button>
                </ng-template>
              </div>
  
              <div class="col-lg-12">
                <div class="form-group">
                  <label
                    >Sila nyatakan cadangan tuan/puan untuk penambahbaikan kami di
                    jabatan ini.</label
                  >
                  <textarea class="form-control" rows="4"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <button type="button" class="btn btn-primary">Hantar</button>
      <button type="button" class="btn btn-danger" (click)="closeModal2()">
        Batal
      </button>
    </div>
  </div>
</ng-template>
