<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Padanan Kepakaran</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-alt text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Jumlah Lalu Lintas
                  </h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-red
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"
                  ><i class="fa fa-arrow-up"></i> 3.48%</span
                >
                <span class="text-nowrap">Sejak bulan lalu</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Jumlah Data Masuk
                  </h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-orange
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="ni ni-chart-pie-35"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"
                  ><i class="fa fa-arrow-up"></i> 3.48%</span
                >
                <span class="text-nowrap">Sejak bulan lalu</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="h3">Borang Padanan Kerja</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <form>
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label"
                        >Nama</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        id="example-text-input"
                      />
                    </div>
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label"
                        >Alamat</label
                      >
                      <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label"
                        >Nombor kad pengenalan</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        id="example-text-input"
                      />
                    </div>
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label"
                        >Jantina</label
                      >
                      <select class="form-control">
                        <option></option>
                        <option>Lelaki</option>
                        <option>Wanita</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label"
                        >Status pekerjaan</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        id="example-text-input"
                      />
                    </div>
                    <div class="form-group">
                      <label
                        for="example-number-input"
                        class="form-control-label"
                        >Pendapatan</label
                      >
                      <input
                        class="form-control"
                        placeholder="RM"
                        type="text"
                        id="example-text-input"
                      />
                    </div>
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label"
                        >Nombor telefon</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        placeholder="0123456789 tanpa '-'"
                        id="example-text-input"
                      />
                    </div>
                  </form>
                </div>
              </div>
              <div class="row d-flex justify-content-end">
                <div class="col-auto">
                  <button type="button" class="btn btn-primary" (click)="confirm()">Hantar</button>
                  <button type="button" class="btn btn-secondary">
                    Semula
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
